/*公共样式*/
.fl {
	float: left;
}
.fr {
	float: right;
}
/*版心*/
.w {
	width: 1200px;
	margin: 0 auto;
}
.style-red {
	color: #C61424;
}
/*图标字体*/
@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?er2wx');
	src:  url('../fonts/icomoon.eot?er2wx#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?er2wx') format('truetype'),
	url('../fonts/icomoon.woff?er2wx') format('woff'),
	url('../fonts/icomoon.svg?er2wx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
.spacer {
	width: 1px;
	height: 12px;
	background-color: #666;
	margin: 9px 12px 0;

}
/*顶部快捷导航条*/
.shortcut {
	height: 31px;
	background-color: #f1f1f1;
	line-height: 31px;
}
.shortcut ul li {
	float: left;
}
.fr .icomoon {
	font-family: "icomoon";
	font-size: 14px;
	padding: 0px 2px;
	line-height: 5px;
} 
/*顶部快捷导航条 end*/
