.w {
	width: 1200px;
	margin: 0 auto;
}
.header {
	height: 82px;
	border-bottom: 2px solid #b1191a;
}
.logo {
	padding-top: 15px;
}
.registerarea {
	height: 520px;
	border: 1px solid #ccc;
	margin-top: 20px;
}
.registerarea h3 {
	height: 40px;
	background-color: #ececec;
	border-bottom: 1px solid #ccc;
	line-height: 40px;
	padding-left: 10px;
	font-weight: 400;
	font-size: 18px;
}
.registerarea h3 em {
	float: right;
	padding: 0 10px;
	font-size: 14px;
}
.registerarea a {
	color: #c81623;
}
.reg_form {
	width: 600px;
	height: 420px;
	margin: 40px auto 0;
}
.reg_form li {
	margin-bottom: 15px;
}
.reg_form label {
	display: inline-block;
	width: 100px;
	height: 36px;
	line-height: 36px;
	text-align: right;
}
.reg_form .inp {
	width: 238px;
	height: 34px;
	border: 1px solid #ccc;
	margin-left: 10px;
}
.error {
	color: #F07F74;
	margin-left: 10px;
}
.error_ico,
.success_ico {
	display: inline-block;
	height: 20px;
	width: 20px;
	background: url(../imges/error.png) no-repeat;
	vertical-align: middle;
	margin: 5px;
}
.success {
	color: #2EA531;
	margin-left: 10px;
}
.success_ico {
	background: url(../imges/success.png) no-repeat;
}
.safe {
	padding-left: 187px;
	color: #AFB2AF;
}
.safe em {
	padding: 0 12px;
	color: #fff;
}
.ro {
	background-color: #de1111;
}
.vs {
	background-color: #44AD46;
}
.ql {
	background-color: #FF9D28;
}
.agree {
	padding-top: 20px;
	padding-left: 100px;
}
.agree input {
	vertical-align: middle;
	margin-right: 5px;
}
.agree a {
	color: #0094EC;
}
.over {
	width: 200px;
	height: 34px;
	margin: 30px 130px;
	background-color: #D82315;
	border: none;
	color: #fff;
	font-size: 14px;
}
/*footer*/
.footer {
	height: 120px;
	text-align: center;
}
.links {
	margin-top: 20px;
	height: 30px;
}
.copyright {
	line-height: 20px;
}